In [1]:
#load in match to get match id
#The basics
import pandas as pd
import numpy as np
import json

In [3]:
with open('wyscoutEvents/matches_England.json') as f:
    data = json.load(f)
matches = pd.DataFrame(data)

In [8]:
#search tool
wyid =  2499721
matches.loc[matches['wyId']==wyid,:]

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
373,Played,4405654,1,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2017-08-12 14:00:00,1646,Stamford Bridge,2499721,"Chelsea - Burnley, 2 - 3","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 378951, 'role': 'referee'}, {'r...",Regular,364